body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
}


.portfolio-container {
    max-width: 800px;
    text-align: center;
    margin: 50px auto;
}

.portfolio-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.page-list {
    display: flex;
    list-style: none;
    padding: 0;
}

.page-list li {
    margin: 10px 0;
}

.page-list a {
    text-decoration: none;
    color: #007bff;
    font-size: 1.2rem;
    transition: color 0.3s ease;
    padding: 20px;
}

.page-list a:hover {
    color: #0056b3;
}